name: Financial Advisor Automated

on:
  workflow_dispatch:
  schedule:
    # Triggers every 2.5 hours throughout the day
    - cron: '0 0,5,10,15,20 * * *'
    - cron: '30 2,7,12,17,22 * * *'

jobs:
  run-advisor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install
        run: pip install requests yfinance pyTelegramBotAPI
      - name: Execute
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
          GITHUB_ACTIONS: "true"
        run: python market_app.py
